.socialIcon {
  margin: 8px;
}

.heroImageContainer {
 padding-top: 80px;
}

.heroTitleContainer {
  padding-top: 100px;
}

.heroImage {
  /* object-fit: cover;
  object-position: top; */
  border-radius: 100%;
  box-shadow: 0 10px 75px -16px #555555;
}

.contactIcon {
  margin: 16px;
}

.contactIcon svg {
  width: 48px;
  height: 48px;
  transition: all .3s ease
}

.contactIcon:hover svg {
  color: #087EA4;
  transform: scale(1.5);
  border-radius: 50%;
  box-shadow: 0 48px 75px -16px #087EA4;
  padding: 4px;
}

.buttonNoline {
  letter-spacing: normal;
  font-size: 20px;
}

.buttonNoline:hover {
  letter-spacing: normal !important;
}

.buttonNoline::before,
.buttonNoline::after,
.buttonTextNoline::before,
.buttonTextNoline::after {
  background: none !important;
}

.buttonDrow1n,
.buttonDrow1n::before,
.buttonDrow1n::after,
.buttonDrow2n,
.buttonDrow2n::before,
.buttonDrow2n::after{
  background : #087EA4 !important;
}

.serviceBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #555555;
  border: 3px #555 solid;
  min-height: 324px;
  padding: 20px 20px;
  border-radius: 8px;
  height: 100%;
}


.serviceBox p {
  padding-right: 0;
}

@media screen and (min-width: 992px) {
  .heroSection {
    height: 88vh;
  }
}
@media screen and (max-width: 568px) {
  .heroImageContainer {
    padding-top: 20px;
  }

  .heroTitleContainer {
    padding-top: 40px;
  } 

  .buttonNoline {
    font-size: 16px;
  }
}